html, body, div, span, h1, h2, h3, p, a, img, b, i, center, ol, ul, li, article, section {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    outline: 0px none;
    font-size: 100%;
    vertical-align: top;
    background: transparent none repeat scroll 0% 0%;
    text-align: right;
    font-family: system-ui;

}
h2 {
    direction: rtl;
}
h3 {
    direction: rtl;
}
p{
    direction: rtl;
}
body {
    line-height: 1;
    text-align: center;
}

a {
    color: blue;
    font-weight: 600;
    text-decoration: none;

}

body {
    font-size: 62.5%;
    font-family: Helvetica, Arial, sans-serif;
    background: rgb(19, 19, 19);
    color: rgb(51, 51, 51);
    text-align: left;
}

.img-title {
    text-align: left;
}

.img-text {
    text-align: left;
}

.percent {
    font-size: 20px;
    font-weight: bold;
}

.diagramm-img {
    display: inline-block;
}

.img-list__block {
    display: inline-block;
    margin-left: 10px;
}

.list-img li {
    position: relative;
    text-align: left;
}

.list-img li:before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    
    margin-right: 10px;
}

.red-item:before {
    background: red;
}

.orange-item:before {
    background: orange;
}

.brown-item:before {
    background: #573c26;
}

.green-item:before {
    background: #0a691f;
}

.blue-item:before {
    background: #07c5f0;
}

.yellow-item:before {
    background: #f0e407;
}

.pink-item:before {
    background: #fc08b3;
}

.darkblue-item:before {
    background: #0830fc;
}

.darkbrown-item:before {
    background: #d96236;
}

.lightpink-item:before {
    background: #eb86d5;
}

body {
    margin: 0px;
    direction: rtl;
}

body {
    font-size: 62.5%;
    font-family: Helvetica, Arial, sans-serif;
    background: rgb(19, 19, 19);
    color: rgb(51, 51, 51);
    text-align: left;
}

body {
    margin: 0px;
}

ol, ul {
    list-style: outside none none;
}

:focus {
    outline: 0px none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

p {
    margin-top: 10px;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

.size3 {
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
}

.size3 {
    width: 300px;
}

.size3.bordered {
    width: 298px;
}

.fright {
    float: right;
}

.mbottom10 {
    margin-bottom: 10px;
}

.user_icon {
    background: transparent url("../images/img-header-sprite_8c41_11.png") no-repeat scroll -226px -10px;
    width: 13px;
    height: 10px;
    display: inline-block;
}

.show_shar_icon {
    background: transparent url("../images/img-header-sprite_8c41_11.png") no-repeat scroll -280px -3px;
    width: 18px;
    height: 20px;
    display: inline-block;
}

header.header {
    position: relative;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(204, 204, 204);
    z-index: 250;
}

.left_header_box, .fixed_menu {
    display: inline-block;
    width: 79%;
}

.left_header_box .logo, .fixed_menu .logo {
    position: relative;
    display: inline-block;
    float:left;
    width: 240px;
    margin-top: 15px;
    z-index: 300;
}

.left_header_box .logo .logo_img, .fixed_menu .logo .logo_img {
    display: block;
}

.left_header_box .logo .logo_img img, .fixed_menu .logo .logo_img img {
    max-width: 100%;
}

.fixed_menu .logo .region {
    display: block;
    position: absolute;
    left: 52%;
    top: 60%;
}
.left_header_box .logo a img{
    display: inline-block;
    width: 50px;
    vertical-align: middle;
    padding-right: 10px;
}
.left_header_box .logo a{
    text-decoration: none;
    color: #288a40;
    font-weight: bold;
    font-size: 19px;
}

.left_header_box .main_menu_box {
    /* position: absolute; */
    left: 0px;
    right: 0px;
    display: inline-block;
    padding: 0px 240px 0px 250px;
    z-index: 250;
}

.left_header_box .main_menu_box .main_menu {
    height: 65px;
    line-height: 62px;
    font-family: "Roboto Condensed", sans-serif;
    float: left;
}

.left_header_box .main_menu_box .main_menu li {
    float: left;
    padding: 0px 10px;
    height: 60px;
}

.left_header_box .main_menu_box .main_menu li a, .left_header_box .main_menu_box .main_menu li span {
    color: rgb(0, 0, 0);
    font-size: 0.75em;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    height: 100%;
    cursor: pointer;
}

.left_header_box .main_menu_box .main_menu li span i.black_angle_down {
    margin-top: 26px;
    margin-left: 5px;
}

.left_header_box .main_menu_box .main_menu li:hover, .left_header_box .main_menu_box .main_menu li.active {
    border-bottom: 5px solid rgb(40, 138, 64);
}

.sharings_box {
    width: 100px;
    height: 46px;
    overflow: hidden;
    transition: width 0.3s ease 0s;
    z-index: 300;
    background-color: rgb(255, 255, 255);
}

/* .sharings_box ul {
    float: right;
} */

.sharings_box ul li {
    float: left;
    padding-top: 20px;
    margin-right: 5px;
}

.sharings_box ul li a {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.sharings_box .show_shar_icon {
    float: right;
    margin-top: 20px;
    display: inline-block;
}

.sharings_box .soc {
    transition: width 0.3s ease 0s;
}

.right_header_box {
    width: 20%;
    display: inline-block;
    height: 65px;
    line-height: 22px;
    font-family: "Roboto Condensed", sans-serif;
    z-index: 300;
    position: relative;
}

.right_header_box .fright {
    margin: 20px 0px;
    height: 20px;
    border-left: 1px solid rgb(0, 0, 0);
}

.right_header_box a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
}

.right_header_box a:hover {
    text-decoration: underline;
}

.right_header_box .user_icon {
    margin: 6px 5px 0px 10px;
}

.right_header_box .sharings_box {
    position: absolute;
    right: 120px;
}

.count_box_nodisplay {
    position: absolute;
    width: 0px;
    height: 0px;
    top: -9999px;
}

.regions_list {
    position: relative;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 0px;
    overflow: hidden;
    z-index: 500;
    transition: height 0.5s ease 0s;
}

.regions_list ul li {
    width: 24%;
    height: 20px;
    line-height: 20px;
    padding: 0px 0.5%;
    float: left;
    white-space: nowrap;
}

.regions_list ul li a {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.75em;
    color: rgb(204, 51, 51);
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.regions_list ul li a:hover {
    text-decoration: underline;
}
.rubricator {
    position: absolute;
    width: 100%;
    z-index: 250;
    height: 0px;
}

.rubricator .rubrics_menu {
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    height: 0px;
    transition: height 0.5s ease 0s;
}

.rubricator .rubrics_menu .rubrics_menu_list {
    width: 100%;
    line-height: 42px;
    height: 0px;
}

.rubricator .rubrics_menu .rubrics_menu_list li {
    float: left;
    height: 38px;
}

.rubricator .rubrics_menu .rubrics_menu_list li a {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.75em;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.rubricator .rubrics_menu .rubrics_menu_list li:hover, .rubricator .rubrics_menu .rubrics_menu_list li.active {
    border-bottom: 4px solid rgb(40, 138, 64);
}

.subrubrics .rubrics_menu {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid rgb(204, 204, 204);
    height: 42px;
    background-color: rgb(255, 255, 255);
}

.subrubrics .rubrics_menu .rubrics_menu_list {
    height: 42px;
    line-height: 42px;
    display: table-cell;
    width: 100%;
}

.subrubrics .rubrics_menu .rubrics_menu_list li, .subrubrics .rubrics_menu .subrubric_menu_link {
    height: 38px;
    display: inline-block;
}

.subrubrics .rubrics_menu .subrubric_menu_link {
    display: table-cell;
    padding: 0px;
    visibility: hidden;
    cursor: pointer;
}

.subrubrics .rubrics_menu .subrubric_menu_link a {
    line-height: 42px;
    padding: 0px 10px 10px 0px;
}

.subrubrics .rubrics_menu .subrubric_menu_link:hover a {
    border-bottom: 4px solid rgb(40, 138, 64);
}

.subrubrics .rubrics_menu .subrubric_menu_link.showLink {
    visibility: visible;
}

.subrubrics .rubrics_menu .cont_center {
    border: 0px none;
}

.rubrics_menu_list li a, .subrubric_menu_link a, .rubricator_menu_link a {
    font-family: 'Roboto', sans-serif;
    font-size: 0.75em;
    color: rgb(0, 0, 0);
    padding: 0px 10px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.rubrics_menu_list li:hover, .rubrics_menu_list li.active, .subrubric_menu_link:hover, .rubricator_menu_link:hover {
    border-bottom: 4px solid rgb(40, 138, 64);
}

.rubricator_menu_link {
    display: none;
}

.rubricator_menu_link a {
    line-height: 42px;
    padding-top: 0px;
    padding-bottom: 10px;
}

.rubricator_menu_link:hover a {
    border-bottom: 4px solid rgb(40, 138, 64);
}

.cont_center {
    border: 0px none;
}

.fixed_menu {
    position: fixed;
    top: -100px;
    width: 100%;
    height: 42px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(204, 204, 204);
    z-index: 600;
    opacity: 0;
    transition: top 0.6s ease 0s;
}

.fixed_menu .cont_center {
    padding: 0px 10px;
    z-index: 601;
}

.fixed_menu .logo {
    width: auto;
    margin-right: 20px;
    margin-top: 10px;
    display: table-cell;
}

.fixed_menu .logo img {
    width: 100px;
}

.fixed_menu .logo .region {
    width: 53%;
    left: 65px;
    top: 60%;
}

.fixed_menu .rubrics_menu_list {
    width: 100%;
    line-height: 42px;
    height: 0px;
    display: table-cell;
}

.fixed_menu .rubrics_menu_list li {
    height: 42px;
    display: inline-block;
    box-sizing: border-box;
}

.fixed_menu .rubrics_menu_list li a {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.75em;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.fixed_menu .rubrics_menu_list li:hover, .fixed_menu .rubrics_menu_list li.active {
    border-bottom: 4px solid rgb(40, 138, 64);
}

.fixed_menu .fixed_rubrics_link {
    padding: 0px 5px;
    height: 42px;
    line-height: 42px;
    box-sizing: border-box;
    display: table-cell;
    visibility: hidden;
    cursor: pointer;
}

.fixed_menu .fixed_rubrics_link a {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.75em;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.fixed_menu .fixed_rubrics_link:hover {
    border-bottom: 4px solid rgb(40, 138, 64);
}

.fixPoint {
    position: absolute;
    bottom: 0px;
}

.container {
    min-width: 1002px;
    overflow: hidden;
    width: 100%;
    position: relative;
    text-align: left;
}

.container > .cont_center {
    background-color: rgb(255, 255, 255);
}

.content_body {
    width: 660px;
    padding-right: 300px;
    padding-top: 20px;
    margin-left: 20px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

.content {
    width: 100%;
    float: left;
    position: relative;
}

.right_column {
    float: right;
    width: 300px;
    margin-right: -300px;
}

.cont_center {
    margin: 0px auto;
    max-width: 1000px;
    position: relative;
    z-index: 50;
    border-right: medium none rgb(239, 239, 239);
}



.clearfix::after {
    clear: both;
}

.clearfix::after, .clearfix::before {
    content: " ";
    display: table;
}

footer {
    width: 100%;
    border-top: 2px solid rgb(0, 0, 0);
    padding: 20px 0px;
    overflow: hidden;
    color: rgb(153, 153, 153);
    background-color: rgb(255, 255, 255);
}

footer .cont_center {
    padding: 0px 10px;
    float: left;
}

.footer_text {
    width: 100%;
    overflow: hidden;
    font-size: 0.75em;
    line-height: 1.3em;
}

.footer_counters {
    padding-top: 10px;
}

.bordered {
    border: 1px solid rgb(239, 239, 239);
}

.bordered_top {
    border-top: 1px solid rgb(153, 153, 153);
}

.bottom_links {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.bottom_links i.red_mini_tri {
    margin: 3px 3px 0px 0px;
}

.container .link_bottom_right {
    color: rgb(40, 138, 64);
    font-size: 0.75em;
    text-decoration: underline;
    position: relative;
    z-index: 20;
    margin-bottom: 10px;
    margin-right: 10px;
}

.container .link_bottom_right:hover {
    text-decoration: none;
}

.link_bottom_right {
    float: right;
}

.item_box {
    position: relative;
    overflow: hidden;
}

.item_box a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.item_box a:hover {
    text-decoration: underline;
}

.material_box {
    margin-right: 20px;
}

.material_topline_info {
    min-height: 20px;
    margin-bottom: 15px;
    line-height: 1em;
    padding-right: 90px;
}

.order-now {
    text-align: center;
}


.material_topline_info img.letter-img {
    padding-right: 10px;
    float: right;
    margin-left: 10px;
}

.underline {
    text-decoration: underline;
}

.material_topline_info i {
    margin-right: 10px;
    margin-top: 2px;
}

.material_topline_info .zoom_min_press {
    position: absolute;
    top: 0px;
    right: 10px;
}

.material_topline_info a {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.material_topline_info a:hover {
    text-decoration: none;
}

.material_header {
    margin-bottom: 10px;
}

.material_header h1 {
    font-size: 1.75em;
    margin-bottom: 15px;
}

.material_header p {
    font-family: "PT Serif", serif;
    margin-bottom: 20px;
    line-height: 1.3em;
}

.material_content {
    overflow: hidden;
    font-family: "PT Serif", serif;
    line-height: 1.3em;
}

.material_content p {
    margin-bottom: 20px;
    line-height: 1.6;
    font-weight: 500;

}

.tabgroup-tabs2 {
    overflow: hidden;
    padding: 0px;
    margin: 0px 0px -1px;
    list-style: outside none none;
    z-index: 10;
}

.popul_comment.item_box a {
    color: rgb(0, 0, 0);
}

.popul_comment .tabgroup-tabs li {
    float: left;
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 0.875em;
    background-color: rgb(211, 211, 211);
}

.popul_comment .tabgroup-tabs li a {
    color: rgb(255, 255, 255);
}

.popul_comment .tabgroup-tabs li a:hover {
    text-decoration: none;
}

.popul_comment .tabgroup-tabs li.on {
    background-color: rgb(255, 255, 255);
    font-size: 1em;
}

.popul_comment .tabgroup-tabs li.on a {
    color: rgb(0, 0, 0);
}

.popul_comment .popular_block_list {
    padding: 10px;
    overflow: hidden;
}

.popul_comment .popular_block_list li {
    margin-bottom: 15px;
    padding-left: 35px;
    font-size: 0.875em;
    line-height: 1.3em;
    counter-increment: customlistcounter;
}

.popul_comment .popular_block_list li::before {
    content: counter(customlistcounter, decimal) " ";
    float: right;
    width: 19px;
    height: 19px;
    color: black;
    font-size: 0.75em;
    font-family: "Roboto", sans-serif, sans-serif;
    text-align: center;
    background: transparent url("../images/img-yellow-circle_f30c_12.png") no-repeat scroll left top;
    display: inline-block;
    margin-left: -35px;
    padding-top: 2px;
}

.popul_comment .popular_block_list li a {
    padding-top: 2px;
    display: inline-block;
    margin: 0px 25px 10px 10px;
    direction: rtl;
}

.popul_comment .time_sorter {
    padding: 10px;
    overflow: hidden;
    font-size: 0.75em;
    border-bottom: 1px solid rgb(239, 239, 239);
}

.popul_comment .time_sorter li {
    float: left;
    padding: 0px 7px;
}

.popul_comment .time_sorter li a {
    color: rgb(40, 138, 64);
    text-decoration: underline;
}

.popul_comment .time_sorter li a:hover {
    font-weight: bold;
}

.topical_issues .section_header {
    padding: 10px;
    border-bottom: 2px solid rgb(36, 173, 70);
    margin-bottom: 20px;
}

.topical_issues .topical_issues_list {
    padding: 0px 20px;
}

.topical_issues .topical_issues_list li {
    padding-left: 35px;
    font-size: 0.875em;
}
/* 
.topical_issues .topical_issues_list li::before {
    content: "?";
    float: left;
    width: 19px;
    height: 19px;
    color: black;
    font-size: 0.75em;
    font-family: "Roboto", sans-serif, sans-serif;
    text-align: center;
    background: transparent url("../images/img-yellow-circle_f30c_12.png") no-repeat scroll left top;
    display: inline-block;
    margin-left: -35px;
    padding-top: 4px;
} */

.topical_issues .topical_issues_list li a {
    padding-top: 2px;
    display: inline-block;
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
}

.topical_issues .bottom_links {
    position: relative;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    padding-top: 10px;
}

.author {
    color: rgb(121, 0, 4);
    font-weight: bold;
    margin-top: 15px;
}

.comment {
    color: black;
    margin-top: 3px;
    direction: rtl;
    line-height: 1.5;

}

* {
    margin: 0px;
    padding: 0px;
}

.qq {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd00', endColorstr='#e6b800');
    background-color: #ffdd00;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    direction: initial;

    text-indent: 0;
    border: 1px solid #e0ca67;
    display: inline-block;
    color: #050205;
    font-family: arial;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    height: 50px;
    line-height: 50px;
    padding-right: 24px;
    padding-left: 24px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #d9d9d9;
}

.qq:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6b800', endColorstr='#ffdd00');
    background-color: #e6b800;
}

.qq:active {
    position: relative;
    top: 1px;
}


@media (max-width: 1280px) {

    .left_header_box {
        width: 79.5%;
    }

    .right_header_box {
        width: 20%;
    }
}

@media (max-width: 1000px) {
    body {
        background: none !important;
    }

    .zoom_min_press {
        display: none;
    }

    .container {
        min-width: 0;
    }

    .content_body {
        width: auto;

    }

    header.header .left_header_box {
        width: 20%;
    }

    header.header .left_header_box .logo {
        margin-top: 13px;
        margin-left: 10px;
        width: auto;
    }

    header.header .left_header_box .logo .logo_img {
        width: 83px;
    }

    header.header .left_header_box .main_menu_box {
        position: absolute;
        bottom: 0;
        padding: 0;
        width: 100%;
        border-top: 1px solid #cccccc;
    }

    header.header .left_header_box .main_menu_box .main_menu {
        height: 50px;
        line-height: 48px;
    }

    header.header .left_header_box .main_menu_box .main_menu li {
        height: 45px;
    }

    header.header .left_header_box .main_menu_box .main_menu li .black_angle_down {
        margin-top: 19px;
    }

    header.header .right_header_box {
        width: 79%;
        height: 50px;
        line-height: 22px;
    }

    header.header .right_header_box .fright {
        margin-top: 15px;
    }

    header.header .right_header_box .show_shar_icon {
        margin-top: 10px;
        display: none;
    }

    header.header .right_header_box .sharings_box {
        width: auto;
    }

    header.header .right_header_box .sharings_box ul li {
        padding-top: 15px;
    }

    header.header .right_header_box .sharings_box .soc {
        width: auto;
        overflow: hidden;
    }

    header.header .cont_center {
        padding: 0 0 50px 0 !important;
    }

    .content_body {
        margin-left: 16px;
    }

    .footer {
        padding: 20px 10px;
        box-sizing: border-box;
    }

    .content {
        /* padding-left: 10px; */
        box-sizing: border-box;
    }

    .rubricator .rubrics_menu .rubrics_menu_list li {
        height: 42px;
        box-sizing: border-box;
    }

    header.header .fixed_menu .cont_center {
        padding: 0 10px !important;
    }
}


@media (max-width: 768px) {

    .content {
        float: none;
    }

    .content_body {
        padding-right: 0;
    }

    .right_column {
        display: block;
        width: auto;
        margin-top: 10px;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        float: none;
    }

    .right_column .size3 {
        width: 100%;
    }

    .content {
    }
}
.burger{
    display: none;
}
@media (max-width: 640px) {
    header.header .left_header_box .main_menu_box .main_menu {
        display: none;
    }
    .burger{
        display: block;
        width: 30px;
        margin: 0 auto;
    }
    .subrubrics .rubrics_menu{
        display: none;
    }
    header.header .right_header_box .sharings_box {
        width: auto;
    }

    header.header .right_header_box .sharings_box .soc {
        float: right;
    }

    .mob-hidden {
        display: none;
    }
}

@media (max-width: 479px) {
    .content {
        padding-right: 10px;
        box-sizing: content-box;
    }

    .hide_on_479, .right_header_box .fright {
        display: none;
    }

    .size3 {
        display: none;
    }

    .left_header_box {
        padding-left: 40%;
    }

    header.header .right_header_box {
        width: 100px;
        float: right;
    }

    header.header .right_header_box .sharings_box {
        margin-right: 10px;
        position: relative;
        right: auto;
    }

    header.header .left_header_box {
        width: 26%;
    }

    .content {
    }

    .regions_list ul li {
        width: 32%;
    }

    .regions_list ul li a {
        font-size: 0.625em;
    }
}

@media (max-width: 360px) {
    header.header .left_header_box .main_menu_box .main_menu li a, header.header .left_header_box .main_menu_box .main_menu li span, header.header .right_header_box a {
        font-size: 0.625em;
    }

    .rubrics_menu_list li a, .rubricator .rubrics_menu .rubrics_menu_list li a {
        font-size: 0.625em;
    }

    .subrubric_menu_link a, .rubricator_menu_link a {
        font-size: 0.625em;
    }

    .left_header_box .main_menu_box .main_menu li span i.black_angle_down {
        margin-left: 3px;
    }
}

@media (max-width: 320px) {

    .container, #container, .footer, .header_box {
        min-width: 320px;
    }
}

@media (max-width: 360px) {
    .material_topline_info .zoom_min_press {
        display: none;
    }
}
